    html {
      line-height: 1.5;
      font-family: Verdana, sans-serif;
      font-size: 20px;
      color: #1a1a1a;
      background-color: #fdfdfd;
    }
    body {
      margin: 0 auto;
      max-width: 960px;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      hyphens: auto;
      word-wrap: break-word;
      text-rendering: optimizeLegibility;
      font-kerning: normal;
      counter-set: list;
    }
    @media (max-width: 960px) {
      body {
        font-size: 0.9em;
        padding: 1em;
      }
    }
    @media print {
      body {
        background-color: transparent;
        color: black;
        font-size: 12pt;
      }
      p, h2, h3 {
        orphans: 3;
        widows: 3;
      }
      h2, h3, h4 {
        page-break-after: avoid;
      }
    }  
    p {
      margin: 1em 0;
    }
    a {
      color: #1a1a1a;
    }
    a:visited {
      color: #1a1a1a;
    }
    img {
      max-width: 100%;
      min-width: 250px;
    }
    .center { 
       text-align: center;
    }
    .static {
       max-width: 100%;
       min-width: 0%;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-top: 1.4em;
    }
    h3 {
    font-size: 1.1em;
    }
    ol, ul {
      padding-left: 1.7em;
      margin-top: 1em;
    }
    li > ol, li > ul {
      margin-top: 0;
    }
    blockquote {
      margin: 1em 0 1em 1.7em;
      padding-left: 1em;
      border-left: 2px solid #e6e6e6;
      color: #606060;
    }
    code {
      font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
      font-size: 85%;
      margin: 0;
    }
    pre {
      margin: 1em 0;
      overflow: auto;
    }
    pre code {
      padding: 0;
      overflow: visible;
    }
    .sourceCode {
     background-color: transparent;
     overflow: visible;
    }
    hr {
      background-color: #1a1a1a;
      border: none;
      height: 1px;
      margin: 1em 0;
    }
    table {
      margin: 1em 0;
      border-collapse: collapse;
      width: 100%;
      overflow-x: auto;
      display: block;
      font-variant-numeric: lining-nums tabular-nums;
    }
    table caption {
      margin-bottom: 0.75em;
    }
    tbody {
      margin-top: 0.5em;
      border-top: 1px solid #1a1a1a;
      border-bottom: 1px solid #1a1a1a;
    }
    th {
      border-top: 1px solid #1a1a1a;
      padding: 0.25em 0.5em 0.25em 0.5em;
      border: 1px solid #808080;
    }
    td {
      padding: 0.125em 0.5em 0.25em 0.5em;
      border: 1px solid #808080;
    }
    header {
      margin-bottom: 4em;
      text-align: center;
    }
    #TOC li {
      list-style: none;
    }
    #TOC a:not(:hover) {
      text-decoration: none;
    }
    code{white-space: pre-wrap;}
    span.smallcaps{font-variant: small-caps;}
    span.underline{text-decoration: underline;}
    div.column{display: inline-block; vertical-align: top; width: 50%;}
    div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
    ul.task-list{list-style: none;}

    h1 {
    	text-align: center;
    	font-size: 34px;
    }
    h2 {
    	font-size: 24px;
    }
    .images {
  		width: 100%;
  		margin: 0 auto;
	}
	.block {
  		width: 200px;
  		display: inline-block;
	}
	.infobox {
		border-style: solid;
		padding: 10px;
	}
	#highlight {
		background-color: lightgrey;
		border-radius: 25px;
		padding: 10px;
		border: 2px solid black;
	}
    ol.nostyle li {
    	list-style-type: none;
	}
	ol.mc {
        counter-reset: list list-item;
	}
	ol.mc li {
   		list-style: none;
		padding: 7px 0px;
	}
	ol.mc li:before {
    	content: " (" counter(list, lower-alpha) ") ";
    	counter-increment: list;
	}
	ol.horizontal {
		width: 100%;
    	counter-reset: list list-item;
    	display:flex;
		justify-content:flex-start;
		align-items:baseline;
		flex-wrap:wrap;
	}
	ol.horizontal li {
		list-style: none;
    	width: 185px;
    	padding: 2px 0px;
	}
	ol.horizontal li:before {
        content: " (" counter(list, lower-alpha) ") ";
        counter-increment: list;
	}		
    button {
	border-radius: 5px;
  	background-color: #00008B;
  	border: 1px solid #00008B;
  	color: #FFFFFF;
  	padding: 8px 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	}
    button:hover{
  	background: #D3D3D3;
  	border: 1px solid #00008B;
  	color: #000000
  	}
    hr.longdesc {
    	background-color: white;
        border-top: dashed 1px black;
	}